$gray-black: #222;
$black: #000;
.page-title {
  display: block !important;
  text-align: center;
  font-size: 25rem;
  margin-top: 10px;
}
p {
  margin: 0px !important;
}
.bg-gray-black {
  padding: 0;
  background-color: $gray-black;
}
body {
  background: #1c2c3d !important;
}

.ui.fluid.card {
  background-color: #1b1c1d !important;
}
.form-container {
  width: 750px;
  margin: auto;
}
.page-notfound {
  text-align: center;
}
.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}
