// @import "~bootstrap/scss/bootstrap";

.page-title {
  display: block !important;
  text-align: center;
  font-size: 25rem;
  margin-top: 10px;
}

body {
  background: #1b1c1d !important;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif !important;
}

.ui.fluid.card {
  background-color: #1b1c1d !important;
}
.form-container {
  width: 750px;
  margin: auto;
}
.page-notfound {
  text-align: center;
}
.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
  background-color: #00b5ad;
}
