$gray-black: #222;

.page-title {
  display: block !important;
  text-align: center;
  font-size: 25rem;
  margin-top: 10px;
}
p {
  margin: 0px !important;
}
.bg-gray-black {
  padding: 0;
  background-color: $gray-black;
}
body {
  background: $gray-black !important;
}
@media (max-width: 767px) {
  .container {
    width: auto;
  }
}

.form-container {
  width: 750px;
  margin: auto;
}
.page-notfound {
  text-align: center;
}
